@mixin flex($direction: column, $justify: center, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

$input-border: 1px solid #0a397b;
$orange: #e18700;
$button-hover: #ba7002;
$error: #ff2727;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: inherit;
  color: #fff;
}

#app {
  font-family: "Lato", sans-serif;
  min-height: 100vh;
  background: #001b40;
}
.v-popper--theme-tooltip .v-popper__inner {
  font-family: "Lato", sans-serif;
}

.waves {
  margin-top: -30px;
}

@media screen and (max-width: 375px) {
  * {
    font-size: 15px;
  }

  .waves {
    margin-top: -15px;
  }
}

@media screen and (max-width: 315px) {
  * {
    font-size: 13px;
  }
}


